<!DOCTYPE html>   
<html xmlns:th="http:www.thymleaf.org">
<head>  
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<script type="text/javascript" src="@{/js/script.js}"></script>
<link rel="stylesheet" href="@{/css/cuslogstyle.css}">
<style>   
</style>


</head>    
<body> 
      
    
    <div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="mainbuilding.jpg" id="icon" alt="User Icon" />
          </div>
        <h1> CUSTOMER LOGIN  </h1>
               
         <form action="/save">
         	<input name="userid" type="text" class="fadeIn second" placeholder="Enter Customer ID" id="cid" required/>  <br>
           
         	<input name="pwd" type="password" class="fadeIn third" placeholder="Enter Password" id="password" required/> <br><br>
         
       		<br> <input type="submit" class="fadeIn fourth">
         </form>
                       
    
    </div>
    </div>
</body>     
</html>  